


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    text-align: center;
}

.title {
    color: #d04b40;
}

.text {
    opacity: .7;
}

.kl {
    height: 20px;
    width: 200px;
    background: #595858;
    opacity: .7;
}

.counter {
    width: 180px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    color: #fff;
    background: #d04b40;
}
.res {
    width: 50px;
    height: 50px;
    border: 1px solid #d04b40;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnBasket {
    border: none;
    background-color: #d04b40;
    color: #fff;
    width: 200px;
    height: 50px;
}

.img {
    width: 200px;
}

